@model TextField

@*It's taken from Model, had passed to view*@
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keyword = Model.MetaKeywords;
}




<div>
    @Html.Raw(Model.Text)  @*Html.Raw skripleride gorsetdiyi ucun onu yalniz admin terefinden yazilan texleri gorsetmek olar*@
</div>
