@model ASP.NET_CORE_HTML5_WebSite.Model.LoginViewModel

<div>
    <h1>Login to your personal account</h1>
    <div>
        <form asp-area="" asp-controller="" >
            <div></div>
            <div>
                <label></label>
                <input type="" value="" />
                <span></span>
            </div>
            <div><input type="" value="" /></div>
        </form>
    </div>

    <div></div>
</div>





